// variables color

$color-azuloscuro: #0b132b;
$color-azulmedio: #1c2541;
$color-azulclaro: #3a506b;
$color-celesteoscuro: #5bc0be;
$color-celeste: #6fffe9;
$color-blanco: #ffff;
$color-negro: #000;
